.header {
    display: flex;
    align-items: center;
    min-height: 5vh;
    background-color:#001529;
    border-bottom: transparentize($color: black, $amount: 0);
    a,
    span {
        color: white;
        all: unset;
        cursor: pointer;
        padding: 0.8em;
        &:hover {
            background-color:#1890ff;
            border-bottom: white 1px solid;
            color:black;
            top: 1em;
        }
    }
    .logout {
        cursor: pointer;
    }
    
}
.notLoggedIn{
    color: white;
    display: flex;
    position: absolute;
    right: 1px;
    &:hover{
        border-bottom: white 1px solid;
    }
}

.loggedIn{
    color: white;
    display: flex;
    position: absolute;
    right: 1px;
    &:hover{
        border-bottom: white 1px solid;
    }
}
.logout{
    color: red;
}
