.footer{
    background: #1c1c1c;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 6vh;
    bottom: 0.1px;
    padding-bottom: 1em;
}
.footer:hover{
    background: #2c2c2c;
}


.contenido{
    position: absolute;
    color: white;
    text-align: center;
   }
.contenido:hover{
       color: cyan;
       top: 0.1em;
   }
