.block{
    width: 400px;
    height: 400px;
    border: black solid 1px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 33em;
    top: 5em;
}